.content{
  width: 65%;
  h1{
    font-size: 36px;
    color: #484848;
    font-weight: bold;
  }
}

.photos-container{
  height: 20%;
}

.main-photo {
  width: 60%;
  padding: 0px;
}

.other-photos{
  width: 40%;
  padding: 0px;
}

.row{
  width:101%;
  padding-left:0px;
  padding-right: 0px;
}

.photo{
  width: 101%;
}

.photos{
  width: 50%;
}

.hidden{
  display: none;
}
