


<div class="main">
  <!-- <div  class="test" style="background-image: url('<%#= cl_image_path flat.photos.first.key, crop: :fill %>')"></div> -->
  <%= cl_image_tag(flat.photos.first.key, width: 100, height: 100, crop: :fill, style: "width: 90%;") if flat.photos.attached? %>

  <div>
    <h3><%= flat.title %></h3>
    <p><%= flat.location %></p>
  </div>
</div>




