<div class="container">

<div class="row">

  <div class="details col-6 bg-white border" style="height: 500px" >
     <div class="container border" style="height: 200px">
      <h1>Review house booking</h1>
      <p>name : </p>
      <p>surname : </p>
      <p>date : </p>
     </div>
     <div class="container border" style="height: 300px">
       <h2>Additional Information</h2>
     </div>
  </div>

  <div class="details2 col-6 bg-white border">
    <!-- Top part  -->
    <div class="container border d-flex" style="height: 200px">
      <div class="container border" style="height: 200px">
        <p>(Flat name)Room for 2 near King`s Cross</p>
        <p>(Flat description) Private room in flat in Greater</p>
      </div>

      <div class="container border" style="height: 200px">
      <h2>PUT IMAGE HERE</h2>
      </div>
    </div>

    <!-- middle part  -->
    <div class="container border" style="height: 150px">q</div>

    <!-- bottom part  -->
    <div class="container border" style="height: 150px">e</div>
  </div>

</div>

<div class="row d-flex justify-content-center">
  <div class="payment col-8 border bg-white" style="height: 300px" >
     <div class="container border" style="height: 250px">
       <%= render 'shared/payment_interface' %>
     </div>
      <div class="container border" style="height: 50px"> </div>
</div>



</div>