<div class="home-banner">

  <!-- <p>
    <span id="banner-typed-text"></span>
  </p> -->
    <div class="form-container m-3 ">
      <form class="m-3">
        <h2>Book unique places to stay and things to do.</h2>
        <div class="form-group">
          <label for="inputLocation">Where</label>
          <input type="text" class="form-control" id="inputLocation" placeholder="Anywhere">
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputCheckin">Check-in</label>
            <input type="date" class="form-control" id="inputCheckin" placeholder="Anywhere">
          </div>
          <div class="form-group col-md-6">
            <label for="inputCheckout">Check-out</label>
            <input type="date" class="form-control" id="inputCheckout" placeholder="Password">
          </div>
        </div>
        <div class="form-group">
          <label for="inputState">Guests</label>
          <select id="inputGuests" class="form-control">
            <option selected>Choose...</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
          </select>
        </div>
      <button type="submit" class="btn btn-ghost">Search</button>
    </form>
  </div>
</div>

