.flat-card {
  overflow: hidden;
  height: 220px;
  background: white;
  border: 1px #ededed solid;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.carousel-inner{
      height: 100%;
    width: 100%;
  // border-radius: 4px;
}

.flat-card img {
  height: 200px;
  width: 270px;
  border-radius: 5px;
  object-fit: cover;
  // border-radius: 4px;
}
.carousel-item {
  // height: 100%;
  width: 100%;
  object-fit: cover;
}


.flat-card h2 {
  font-size: 20px;
  color: black;
  margin: 0;
}

.flat-card a {
  color: black;
}

.flat-card p {
  font-size: 16px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.flat-card .small-print {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.flat-card .flat-card-infos {
  padding: 16px;
  width: 75%;
}

.flats-container {
  width: 100%;
}



